<div class="d-flex justify-content-center">
  <div style="width: 450px; padding-top: 20px;">
    <h2>User info</h2>

    <% if @user.errors.any? %>
      <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

    <%= form_with model: @user do |f| %>
      <div class="mb-3">
        <%= f.label :Name %><br>
        <%= f.text_field :name, style: "width: 400px;" %>
      </div>
      <div class="mb-3">
        <%= f.label :Image %><br>
        <%= f.file_field :image %>
      </div>
      <div class="mb-2">
        <%= f.label :Intoroduction %><br>
        <%= f.text_area :introduction, style: "width: 400px;" %>
      <div class="mt-2">
        <%= f.submit "Update User", style: "background-color: #708090; color: white;
         padding: 5px 10px; border: none; border-radius: 4px;" %>
      </div>
    <% end %>
  </div>
</div>

