<h1>New book</h1>
<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit :'Create Book' %>
<% end %>















<% if @book.errors.any? %>
          <%= @book.errors.count %> errors prohibited this obj from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <h3>User info</h3>
  
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, size: "100x100" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "100x100" %>
      <% end %>

      <table class="table">
          <tr>
            <th>Name</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>Introduction</th>
            <td><%= current_user.introduction %></td>
          </tr>
      </table>

      <%= link_to "ユーザー設定", edit_user_path(current_user) %>

      <h3>New book</h3>

      <%= form_with model: @book, url: books_path do |f| %>
        <div class="mb-2">
          <h6>Title</h6>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-2">
          <h6>Opinion</h6>
          <%= f.text_area :body, class: "form-control", rows: 2 %>
        </div>

        <div class="mt-2">
          <%= f.submit "Create Book", class: "btn btn-success" %>
        </div>
      <% end %>




      <h3>User info</h3>
  
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, size: "100x100" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "100x100" %>
      <% end %>

      <table class="table">
          <tr>
            <th>Name</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>Introduction</th>
            <td><%= current_user.introduction %></td>
          </tr>
      </table>

      <%= link_to "ユーザー設定", edit_user_path(current_user) %>

      <h3>New book</h3>

      <%= form_with model: @book, url: books_path do |f| %>
        <div class="mb-2">
          <h6>Title</h6>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="mb-2">
          <h6>Opinion</h6>
          <%= f.text_area :body, class: "form-control", rows: 2 %>
        </div>

        <div class="mt-2">
          <%= f.submit "Create Book", class: "btn btn-success" %>
        </div>
      <% end %>